<!DOCTYPE html>
<html>
<head>
  <title>Fastapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <%= link_to root_path do %>
        <div class="circle">
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 slogan">
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', new_quote_path %>
      <%= link_to 'About', '#' %>
    </div>
  </header>

<%= yield %>

</body>
</html>
